{% extends "::base.html.twig" %}
{% block body %}
<br>

test custom facebook bundle:

<ul>
<li>function isFan : {% if fan %} yes {% else %} no {% endif %}</li>
<li>function url : {{ url }} </li>

</ul>

{% endblock %}