<!DOCTYPE html>
   <head>
   {% set route = app.request.scheme ~ '://' ~ app.request.httpHost %}
      <meta property="og:type" content="website" />
      <meta property="og:title" content="title" />
      <meta property="og:description" content="description" />
      <meta property="og:image" content="#image" />
      <meta property="og:site_name" content="name" />
      <meta property="og:url" content="{{ url('projet_first_proxy',{'local': local}) }}" />
      <title></title>
   </head>
   <body>
   For Facebook Crawler ({{ local }}).
   </body>
</html>
